{% extends "layout.html" %}
{% block body %}
   



        <!-- Page Header-->
        <header class="masthead" style="background-image: url(  {{ url_for('static', filename = 'assets/img/aboutus-bg.jpg')}} )">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to our personal tech forum blog! We are a group of passionate technology enthusiasts who have come together to create a platform for individuals to share their knowledge, experiences, and opinions about the latest technology trends. Our mission is to create a community that fosters creativity, learning, and innovation. We strive to be a one-stop-shop for everything tech-related, providing our readers with up-to-date information on the latest gadgets, software, and innovations. Our team is made up of experts in various fields of technology who are dedicated to providing valuable insights and advice to our readers. Whether you are a beginner or an expert, we welcome you to join our community and share your love for technology with like-minded individuals.</p>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %} 