{% extends "layout.html" %}
{% block body %}
   


   <!-- Page Header-->
        <header class="masthead" style="background-image: url('           {{ url_for('static', filename = 'assets/img/home---bg.jpg')}}       ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>I am Sagiterious</h1>
                            <span class="subheading">Knowledge collection forums for GEEKS | CODERS</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Todo : Fetch it using for loop from the database -->
                    <!-- Post preview-->
                    {% for post in posts %}
                    <!-- <li <a href="/post/{{post.slug}}">{{post.title}} -->

                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h5 class="post-subtitle">{{post.sub_title}}</h5>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Geek World</a>
                            {{post.date}}
                        </p>
                    </div>
                    {{post.content[0:140]}}...
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                </li>


                   
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        {% if number !=0 %}
                        <a class="btn btn-primary text-uppercase" href="/post">Older Posts →</a></div>
                        {% endif %}
                        <a class="btn btn-primary text-uppercase" href="/post">&larr; Newer Posts </a></div>
                </div>
            </div>
        </div>
        {% endblock %} 
       